.fieldset {
  border: 1px rgba(110, 110, 110, 0.507) solid;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 1rem;
}

.eui-text-field  {
  margin-top: 10px;
}

.generic-button {
  margin-top: 20px;
  width: 100%;
}